*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Anton', sans-serif;
font-family: 'Bree Serif', serif;



}


.header{
	background-color: black;

	width: auto;
	height: 110px;

}



#logo{
float: left;
	height: 110px;
	width: 190px;
	margin-left: 30px;
	opacity: 1;
	border-radius: 40px;

}

.logoimg{
	
	float: left;
	height: 110px;
	width: 190px;
	margin-left: 30px;
	opacity: 1;
	border-radius: 40px;


}


.a{
	color: white;
	font-size: 20px;
	text-decoration: none;
	line-height: 110px;


}

#headnav{
	word-spacing: 40px;
	float: right;
	margin-right: 90px;
}

.footer{

	height: 100px;
	width: auto;
	background-color: 	#303030;
	padding-top: 50px;

}

.textAli{
	text-align: center;
	margin-top:15px;
}

.contactimg{

height: 25px;
width: 25px;
border-radius: 10px;
margin-left: 10px;

}

.divfooter{
	float: right;
	padding-right: 170px;
	margin-bottom: 10px;

}

.displayIB{
	display: inline-block;


}

.colorwhite{
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;

}

.section2{
	width: 1370px;
	background-image: url(../img/backGAL4.jpg);
	background-repeat: repeat;
	background-size: 1350px;
	display: grid;
	grid-template-columns: auto  ;
	
	
}


.section2 > div{
	text-align: center;
	height: 510px;
	width: 800px;
	margin-left: 270px;

}

.pees{
	color: 	#00CED1;
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 20px;

}

a:hover{
	color:#00BFFF;
	
}
